.category-wrapper {
    margin-top: 100px;
}
.click-here {
    width: 200px;
    height: 40px;
    border-radius: 15px;
    border: 3px solid #d3c9c9;
    display: flex;
    align-items: center;
    justify-content: center;
}
